<footer class="footer dark-bg">

    <div class="footer-bottom">
        <div class="container inner">
            <p class="pull-left">&nbsp; &nbsp; © {{ site.time | date: '%Y' }} Playdots, Inc.</p>
            <ul class="footer-menu pull-right">
                <ul class="page_links">
                    <li><a href="{{ "/terms/" | prepend: site.baseurl }}">Terms</a></li>
                    <li><a href="{{ "/privacy/" | prepend: site.baseurl }}">Privacy</a></li>
                    <li><a href="http://press.weplaydots.com/">Press</a></li>
                </ul>
                <ul class="social_links">
                    <li><a href="mailto:info@weplaydots.com"><i class="icon-mail"></i></a></li>
                    <li><a href="https://www.facebook.com/playdots"><i class="icon-s-facebook"></i></a></li>
                    <li><a href="https://twitter.com/dots"><i class="icon-s-twitter"></i></a></li>
                    <li><a href="https://instagram.com/dots"><i class="icon-s-instagram"></i></a></li>
                </ul>
            </ul><!-- .footer-menu -->
        </div><!-- .container -->
    </div><!-- .footer-bottom -->

    <noscript>
        <img height="1" width="1" style="display:none;" alt="" src="https://analytics.twitter.com/i/adsct?txn_id=l52vt&p_id=Twitter" />
        <img height="1" width="1" style="display:none;" alt="" src="//t.co/i/adsct?txn_id=l52vt&p_id=Twitter" />
    </noscript>
    
</footer>
