<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ page.description }}">
    <meta name="author" content="{{ page.author }}">
    
    <meta property="og:url"                content="http://votegif.com/" />
    <meta property="og:title"              content="{{ page.title }}" />
    <meta property="og:description"        content="{{ page.description }}" />
    <meta property="og:image"              content="http://votegif.com/FBIMAGE.gif" />
    <meta property="og:image:width"        content="1220">
    <meta property="og:image:height"       content="600">

    <meta property="fb:app_id"              content="147255609045485">
    
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="{{ page.title }}">
    <meta name="twitter:description" content="{{ page.description }}">
    <meta name="twitter:image" content="http://votegif.com/SOCIAL.gif" />
    <meta name="twitter:site" content="@votegif" />
    <meta name="twitter:url" content="http://votegif.com/" />
    
    <title>{% if page.title %}{{ page.title | escape }}{% else %}{{site.title | escape }}{% endif %}</title>
    
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">
    <link href="{{ "/css/main.css" | prepend: site.baseurl }}" rel="stylesheet">
    <link rel="icon" type="image/gif" href="{{ "/images/favicon.gif" | prepend: site.baseurl }}" sizes="16x16">

    <script src="{{ "/js/jquery-2.1.1.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/site.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/clipboard.min.js" | prepend: site.baseurl }}"></script>
</head>