<head>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ page.description }}">
    <meta name="author" content="{{ page.author }}">
    
    <title>{% if page.title %}{{ page.title | escape }}{% else %}{{site.title | escape }}{% endif %}</title>
    
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">
    <link href="{{ "/css/main.css" | prepend: site.baseurl }}" rel="stylesheet">
    
    <!-- Favicon -->
    <link rel="icon" type="image/gif" href="{{ "/images/favicon.gif" | prepend: site.baseurl }}" sizes="16x16">

    <script src="{{ "/js/jquery-2.1.1.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/site.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/clipboard.min.js" | prepend: site.baseurl }}"></script>
    
    <meta property="og:url"                content="http://votegif.com/" />
    <meta property="og:title"              content="VoteGif" />
    <meta property="og:description"        content="{{ page.description }}" />
    <meta property="og:image"              content="http://votegif.com/images/gifs/NEWYORK.gif" />
    <meta property="og:type"               content="video.other">
    <meta property="og:image:width"        content="550">
    <meta property="og:image:height"       content="550">

</head>

