<ul class="responsive_nav">
    <li class="games_nav"><a href="{{ "/#dots_classic" | prepend: site.baseurl }}">GAMES</a></li>
    <ul class="games_links">
        <li><a href="{{ "/dots/" | prepend: site.baseurl }}">DOTS</a></li>
        <li><a href="{{ "/twodots/" | prepend: site.baseurl }}">TWO DOTS</a></li>
		<li><a href="{{ "/dotsandco/" | prepend: site.baseurl }}">DOTS & CO</a></li>
    </ul>
    <li><a href="{{ "/about/" | prepend: site.baseurl }}">ABOUT</a></li>
    <li><a href="{{ "/jobs/" | prepend: site.baseurl }}">JOBS</a></li>
    <li><a href="{{ "/blogs/" | prepend: site.baseurl }}">BLOGS</a></li>
    <li><a href="{{ "/support/" | prepend: site.baseurl }}">SUPPORT</a></li>
</ul><!-- /.responsive_nav -->
